{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/css/style.css">
        <title>{{.Title}}</title>
    </head>
    <body>
        {{template "Header" .}}
        <main>
            {{template "content" .}}
        </main>
        {{template "Footer" .}}

        <script src="static/js/script.js" type="text/javascript"></script>
    </body>
</html>
{{end}}