* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
}
header > nav > ul > li {
    list-style-type: none;
    text-decoration: none;
    color: blueviolet;
    font-weight: 600;
    transition: ease-in-out;
    padding: 10px;
}
header > nav > ul > li:hover {
    background-color: rgb(71, 52, 52);
    color: white;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

footer > ul {
    display: flex;
    flex-direction: row;
}

footer > ul > li {
    list-style-type: none;
    text-decoration: none;
    color: blueviolet;
    font-weight: 600;
    transition: ease-in-out;
    padding: 10px;
}

footer > ul > li:hover {
    background-color: rgb(71, 52, 52);
    color: white;
}

button {
    border: 1px solid black;
    background: rgb(165, 165, 234);
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: ease;
    padding: 4px;
    margin: 5px;
    border-radius: 3px;
}

button:hover {
    background: rgb(26, 26, 81);
    color: #ffffff;
}

table {
    border: 2px solid rgb(9, 103, 254);
}

tr, td, th{
    padding: 15px;
    border-bottom: 1px solid #000000;
}
